<html>
<Title> Matching Game </Title>
<body background="C:\Users\pc\Desktop\Python3.4.3\background.jpg" >
<h1><Center> Try your luck at Matching Cards ! </h1></Center>
<hr>
<br>
<br> 
<br>
<br>
<br>
<br>
<center>

<table border="1">
        <thead>
            <tr>
               <th height="40" width="40"> {{var1}} </th>
                 <th height="40" width="40">{{var2}}</th>
                <th height="40" width="40">{{var3}}</th>
                
            </tr>

           <tr>
                <th height="40" width="40">{{var4}}</th>
                 <th height="40" width="40">{{var5}}</th>
                <th height="40" width="40">{{var6}}</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
               <th height="40" width="40">{{var7}}</th>
               <th height="40" width="40">{{var8}}</th> 
               <th height="40" width="40">{{var9}}</th>
               

            </tr>
        </tbody>
    </table>
<br>

<form action="/action_page.php">
 <b><i><font color="red" face="courier"> Enter the card number : <input type="text" name="fname"><br>
  </font></i></b>
  <br> <br><input type="submit" value="Let's see if you got it right!">
</form>
 
</center>

</body>
</html>